@import "tailwindcss";

:root {
  --bg-color: #F1E9D7;
}

* {
  box-sizing: border-box;
}

.box-1 {
  transform: translateY(0%);
  opacity: 1;
  animation-name: example;
  animation-duration: 2s;
}

.box-icon-1 {
  transform: translateX(0%);
  opacity: 1;
  animation-name: example-icon;
  animation-duration: 1s;
}

.box-icon-2 {
  transform: translateX(0%);
  opacity: 1;
  animation-name: example-icon;
  animation-duration: 3s;
}

.box-icon-3 {
  transform: translateX(0%);
  opacity: 1;
  animation-name: example-icon;
  animation-duration: 5s;
}

@keyframes example {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes example-icon {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}


.nav-bar-header{
    z-index: 10000;
    position: fixed;
    right: -100%;
    top: 0;
    width: 100%;
    background-color: black;
    height: 100vh;
    transition: all .3s;
}
.nav-bar-header-active{
    right: 0%;
    top: 0;
}

.bar-header{
  display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #5a5959;
    margin-bottom: 10px;
}